NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=contraaz.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=contraaz
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=contraaz.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=189421046439
NEXT_PUBLIC_FIREBASE_APP_ID=1:189421046439:web:8cc25524e0dc3768f4a982
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3C4ETYPWRR
